.header {
  width: 100%;
  height: 6vh;
  background: #0030C4;
}

.header .container {
  width: 100%;
  height: 6vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0030C4;
  opacity: .8;
  z-index: 15;
}

.header .container .menu-icon {
  display: none;
}

.header .container .navegation {
  width: 80%;
}

.header .container .navegation ul {
  list-style: none;
}

.header .container .navegation ul li {
  display: inline-block;
  margin: 0.5% 2%;
}

.header .container .navegation ul li a {
  display: block;
  text-decoration: none;
  color: #E9E9E9;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 18px;
}

.header .container .navegation ul li:hover > a {
  color: #CCCCCC;
}

.typed {
  color: black;
}

@media only screen and (max-width: 800px) {
  .header {
    position: fixed;
    z-index: 15;
  }
  .header .container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background: none;
    opacity: 1;
  }
  .header .container .menu-icon {
    display: block;
    font-size: 250%;
    color: #E9E9E9;
    background: #0030C4;
    width: 100%;
    padding: 0 10%;
  }
  .header .container .navegation ul {
    display: none;
  }
  .header .container .navegation {
    background: #0030C4;
    opacity: 0.85;
  }
  .header .container .navegation ul {
    height: 90vh;
    background: #0030C4;
    opacity: 0.85;
    width: 70%;
    list-style: none;
  }
  .header .container .navegation ul li {
    padding: 10% 0;
    display: block;
  }
  .header .container .navegation ul li a {
    display: block;
    text-decoration: none;
    color: #E9E9E9;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    font-size: 23px;
  }
  .header .container .navegation ul li:hover {
    color: #1B52FF;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 94vh;
  background: linear-gradient(137deg, #1a0194 0%, #0d006f 50%, white 50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner-container {
  background: #ECECEC;
  border-radius: 3%;
  width: 80%;
  -webkit-box-shadow: 12px 18px 13px 5px rgba(0, 0, 0, 0.34);
          box-shadow: 12px 18px 13px 5px rgba(0, 0, 0, 0.34);
}

.banner .banner-container .title-container {
  display: block;
  padding: 3% 2%;
  text-align: right;
}

.banner .banner-container .title-container h1 {
  color: #00015D;
  font-size: 250%;
}

.banner .banner-container .title-container h1 span {
  color: #9D9D9D;
}

.banner .banner-container .img-container img {
  max-width: 70%;
  padding: 0 2%;
}

@media only screen and (max-width: 600px) and (max-height: 900px) {
  .banner {
    height: 94vh;
  }
  .banner .banner-container {
    width: 95%;
    height: 70%;
  }
  .banner .banner-container .img-container img {
    max-width: 90%;
  }
  .banner .banner-container .title-container {
    padding: 5% 3%;
  }
  .banner .banner-container .title-container h1 {
    font-size: 170%;
  }
}

@media only screen and (max-width: 450px) {
  .banner .banner-container .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70%;
  }
  .banner .banner-container .img-container img {
    padding: 10% 2%;
  }
}

.personal-information-animation {
  -webkit-animation-name: scrollanimation;
          animation-name: scrollanimation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.personal-information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40%)[2];
      grid-template-columns: repeat(2, 40%);
  margin: 4% 3%;
  background: #ECECEC;
  opacity: 0;
}

.personal-information .personal-information-img img {
  width: 85%;
}

.personal-information .personal-information-container {
  padding: 5% 1%;
}

.personal-information .personal-information-container p {
  font-size: 120%;
  margin: 3% 0;
}

.personal-information .personal-information-container .skills {
  width: 100%;
}

.personal-information .personal-information-container .skills .skills-name {
  list-style: none;
  padding: 1%;
}

.personal-information .personal-information-container .skills .skills-name li progress {
  width: 100%;
  height: 25px;
}

.personal-information .personal-information-container .CVbutton {
  width: 35%;
  height: 7%;
  border: 2px solid #00015D;
  border-radius: 18px;
  color: #00015D;
  font-size: 90%;
  margin: 4% 2%;
}

.personal-information .personal-information-container .CVbutton a {
  text-decoration: none;
  color: #00015D;
}

.personal-information .personal-information-container .CVbutton:hover {
  background: #00015D;
  color: #ECECEC;
}

.personal-information .personal-information-container .CVbutton:hover > a {
  color: #ECECEC;
}

@media only screen and (max-width: 800px) {
  .personal-information {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    padding: 10%;
  }
  .personal-information .personal-information-img img {
    width: 100%;
  }
  .personal-information .personal-information-container .CVbutton {
    margin: 4% 25%;
    width: 50%;
    height: 10%;
  }
  .personal-information .personal-information-container .skills .skills-name li {
    padding: .5% 0;
  }
}

@media only screen and (max-width: 400px) {
  .personal-information .personal-information-container .skills {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  .personal-information .personal-information-container .CVbutton {
    margin: 15% 25%;
    width: 50%;
  }
}

@-webkit-keyframes scrollanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrollanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portafolio-animation {
  -webkit-animation-name: traslateanimation;
          animation-name: traslateanimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.portafolio {
  display: -ms-grid;
  display: grid;
  margin: 3% 4% 6% 4%;
  grid-gap: 4.5%;
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.portafolio .card {
  background: #000798;
  border-radius: 2%;
  height: 105%;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
}

.portafolio .card .card-img img {
  max-width: 96%;
  padding: 2% 2%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
  z-index: -1;
}

.portafolio .card p {
  text-align: center;
  color: #F1F1F1;
}

.portafolio .card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background: #0D16CB;
}

.portafolio .card:hover > .card-img img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media only screen and (max-width: 800px) {
  .portafolio {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    margin-bottom: 65%;
  }
  .portafolio .card .card-img img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@-webkit-keyframes traslateanimation {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes traslateanimation {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-container .social-media .button {
  width: 50px;
  height: 50px;
  background: #A1A1A1;
  border: none;
  font-size: 160%;
  margin: 2% 1%;
  color: #ffff;
}

.contact .contact-container .social-media .github:hover {
  background: #000;
}

.contact .contact-container .social-media .linkedin:hover {
  background: #0014BC;
}

.contact .contact-container .social-media .whatsapp:hover {
  background: #139501;
}

.contact .contact-container .map {
  width: 100%;
}

.contact .contact-container .map iframe {
  max-width: 100%;
}

.footer {
  background: #00015D;
  color: #DBDBDB;
}

.footer p {
  text-align: center;
  padding: 2% 0;
}

.footer h4 {
  text-align: center;
  padding: 0 0 2% 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 4% 0 4%;
}
/*# sourceMappingURL=styles.css.map */